<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head lang="en">
    <meta charset="UTF-8" />
    <title>Acebook</title>
    <link href="/posts.css" rel="stylesheet" type="text/css" />
    <link href="/navbar.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <ul class="posts" th:each="friendship: ${friendships}">
        <li>
          <p th:text="${friendship.senderUsernameGetter()} + ' wants to add you as a friend.'"></p>
          <form class="post-item" action="#" th:action="@{/rejected}" th:object="${friendship}" method="post">
            <input type="hidden" class="form-control" th:value="${friendship.idGetter()}" th:attr="name='friendshipId'"/>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Reject" />
            </form>
        <form class="post-item" action="#" th:action="@{/accepted}" th:object="${friendship}" method="post">
            <input type="hidden" class="form-control" th:value="${friendship.idGetter()}" th:attr="name='friendshipId'"/>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Accept" />
        </form>
        </li>
      </ul>
    </div>
  </body>
</html>
