<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>New Subscription</title>
      <link href="/css/signup.css" rel="stylesheet" type="text/css" />
      <link href="/css/navbar.css" rel="stylesheet" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/e6fe8c10b9.js" crossorigin="anonymous"></script>
    </head>
    <body>
       
        <div class="topnav">
          <img th:src='@{/img/nevermore.png}' class="navbar-image">
            <a class= "bounce-out-on-hover glow-on-hover" href="/dashboard"><i class="fa-solid fa-house"></i> Home</a>
            <a class="active bounce-out-on-hover glow-on-hover" href="/costs/all"><i class="fa-solid fa-money-check"></i> Subscriptions</a>
            <a class= "bounce-out-on-hover glow-on-hover" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            <div class="username">
              <div sec:authorize="isAuthenticated()" >
                <a><i class="fa-solid fa-user"></i> <span class="name" sec:authentication="name"></span> </a>
               </div>
            </div>
          </div>
      <div class="container">
        <form
          class="form-signup"
          action="#"
          th:action="@{/costs}"
          th:object="${cost}"
          method="post"
        >
          <h2 class="form-signup-heading">Add Subscription</h2>
          <p>
            <label for="content" class="sr-only">Subscription</label>
            <input
              type="text"
              th:field="*{content}"
              class="form-control"
              placeholder="e.g. Netflix"
              id = "content"
              required
              autofocus
            />
          </p>
          <p>
            <label for="price" class="sr-only">Price</label>
            <input
              type="number"
              step="0.01"
              th:field="*{price}"
              class="form-control"
              placeholder="e.g. 5.99"
              id = "price"
              required
              autofocus
            />
          </p>
          <p>
            <label for="category" class="sr-only">Category</label>
          <select name="category" th:field="*{category}" class="dropdown"> 
            <option value="Required"> Required</option>
            <option value="Leisure" style="background: 5cb85c; color: #fff;"> Leisure</option>
          </select>
          </p>
          <p>
            <input
              class="btn btn-lg btn-primary btn-block"
              type="submit"
              value="Save"
              id="submit"
            />
            <input
              class="btn btn-lg btn-primary btn-block btn-color-secondary"
              type="reset"
              value="Clear"
            />
          </p>
        </form>
      </div>
    </body>
  </html>
</html>
