<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head lang="en">
    <meta charset="UTF-8" />
    <title>Acebook</title>
    <!-- <link href="/posts.css" rel="stylesheet" type="text/css" />
    <link href="/navbar.css" rel="stylesheet" /> -->
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/dashboard">Home</a>
    </div>
    <div class="container form-signup" sec:authorize="isAuthenticated()">
      <h2 class="posts-heading">
        Costs by: <span class="name" th:text="${name}"></span>
      </h2>
      <div class="costs container form-signup">
        <p th:text="${cost.content}"></p>
        <p th:text="${cost.price}"></p>
      </div>
    </div>
  </body>
</html>
