
  body {
    padding-bottom: 40px;
    background-color: #191414;
    margin: 0;
    font-family: 'Poppins', sans-serif;;
    font-size: 1rem;
    font-weight: 400;
    box-sizing: inherit;
    line-height: 1.5;
    color: #212529;
    display: block;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin-heading{
    text-align: center;
    color: white;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    display: block;
}
.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all .15s ease-in-out;

}
.btn-primary {
  color: #fff;
  background-color: #4267B2;
  border-color: #4267B2;
}
.form-signup-heading{
  color:white;
  text-align: center;
}
.btn-to-signup{
  width:20%;
  margin: auto 0;
  background-color: #dcdde1;
  color: #353b48;
}