<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>Signup</title>
      <link href="/css/signup.css" rel="stylesheet" type="text/css" />
      <link href="/css/navbar.css" rel="stylesheet" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/e6fe8c10b9.js" crossorigin="anonymous"></script>
    </head>
    <body>
      
      <div class="topnav">
        <img th:src='@{/img/nevermore.png}' class="navbar-image">
          <a href="/"><i class="fa-solid fa-house"></i>    Home</a>
          <a class="active" href="/users/new">Sign Up</a>
          <a href="/logon">Sign In </a>
      </div>
      <h2 class="form-signup-heading">Sign up</h2>
      <div class="container">
        <form
          class="form-signup"
          action="#"
          th:action="@{/users}"
          th:object="${user}"
          method="post"
        >

          
          <div class="alignment-left">
            <div>
              <label>Profile Photo: </label>
              <input type="hidden" name="image" id="base64-data-input" />
              <div id="file-uploader-container">
                  <script>
                      window.addEventListener("load", (event) => {
                          const fileUploaderContainer = document.getElementById("file-uploader-container");
                          const fileInput = document.getElementById("file-upload-input");
                          const base64DataInput = document.getElementById("base64-data-input");
                          fileInput.onchange = function(){
                              let reader = new FileReader();
                              reader.readAsDataURL(fileInput.files[0]);
                              reader.onload = function(e) {
                                  // get the data from the upload input
                                  const imageSrc = e.target.result;
                                  // draw onto a canvas
                                  let cv = document.createElement("canvas");
                                  cv.setAttribute("width","100px");
                                  cv.setAttribute("height","100px");
                                  let cvtx = cv.getContext("2d");
                                  let ti = new Image();
                                  ti.src = imageSrc;
                                  ti.onload = function(){
                                      // crop the image nicely
                                      let nw = 100;
                                      let nh = 100*(ti.naturalHeight/ti.naturalWidth);
                                      if(nh < 100){
                                          nh = 100;
                                          nw = 100*(ti.naturalWidth/ti.naturalHeight);
                                      }
                                      cvtx.drawImage(ti,0,0,nw,nh);
                                      // extract final base64 data
                                      const exp = cv.toDataURL();
                                      // set form input to have it as a value
                                      base64DataInput.value=exp;
                                      // remove the file input
                                      fileInput.remove();
                                      // show the image to the user
                                      ti.src=exp;
                                      ti.className="preview-photo";
                                      fileUploaderContainer.appendChild(ti);
                                  }
                              }
                          }
                      });
                  </script>
                  <label for="file-upload-input" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> Custom Upload
                </label>
                  <input type="file" id="file-upload-input" accept="image/*">
              </div>
          </div>
            <p>
              <label for="username" class="sr-only">Username</label>
              <input
                type="text"
                th:field="*{username}"
                class="form-control"
                placeholder="Username"
                required
                autofocus
              />
            </p>
            <p>
              <label for="username" class="sr-only">Password</label>
              <input
                type="password"
                th:field="*{password}"
                class="form-control"
                placeholder="Password"
                required
                autofocus
              />
            </p>
            <p>
              <label for="salary" class="sr-only">Salary</label>
              <input
                type="text"
                th:field="*{salary}"
                class="form-control"
                placeholder="Enter your net salary"
                required
                autofocus
              />
            </p>
            <p style="color:red;" th:text= "${errorMsg}"></p>
            <p>
              <input
                class="btn btn-lg btn-primary btn-block"
                type="submit"
                value="Submit"
                id="submit"
              />
              <input
                class="btn btn-lg btn-primary btn-block btn-color-secondary"
                type="reset"
                value="Reset"
              />
            </p>
          </div>


          
        </form>
        <h2 class="form-signup-heading">Already have an account:</h2>
        <button class="btn btn-lg btn-primary btn-width btn-color-secondary" onclick="window.location.href='/login';">Sign In</button>
      </div>
    </body>
  </html>
</html>
