#container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
    position: relative;
    justify-content: space-evenly;
   
}
.card{
    background-image: linear-gradient(purple, rgb(96, 13, 129), rgb(143, 58, 143));
    border: 3px rgb(2,0,36);
    padding: 8px;
    border-radius: 12px;
    width: 100%;
    float: left;
    padding: 1rem;
    margin-bottom: 1rem;
}

.card1{
    background-image: linear-gradient(purple, rgb(96, 13, 129), rgb(143, 58, 143));
    border: 3px rgb(2,0,36);
    padding: 8px;
    border-radius: 12px;
    width: 100%;
    float: right;
   
   
}

.topright {
    width: 10%;
    position: absolute;
    top: -7px;
    right: 0px;
    border-radius: 12px;
}

.centre {
    text-align: center;
}

.button {
    border: none;
    color: white;
    background-color: gray;
    padding: 15px 32px;
    text-align: center;
    font-size: 12px;
    margin: 3px 1px;
    cursor: pointer;
    border-radius: 10px;
    width: 30%;
    height: 10%;
    display: inline-block;
   
}

body {
    background: rgb(32,13,62);
    background: linear-gradient(20deg, rgba(32,13,62,1) 0%, rgba(55,9,121,1) 38%, rgba(92,0,198,1) 100%);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 1px;
    grid-auto-rows: minmax(180px, 30px);
    grid-auto-flow: dense;
    padding: 1px;
    padding: 2rem;
    margin-bottom: 2rem;
    gap: 10px;
   
}

.grid-item {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.44);
    padding: 2rem;
    margin: 1rem;
    filter: drop-shadow(5px 5px 16px #000);
}

.grid-item-3 {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.1px);
-webkit-backdrop-filter: blur(1.1px);
border: 1px solid rgba(255, 255, 255, 0.05);
}

.grid-item-4 {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.1px);
-webkit-backdrop-filter: blur(1.1px);
border: 1px solid rgba(255, 255, 255, 0.05);
}

.grid-item-5 {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.1px);
-webkit-backdrop-filter: blur(1.1px);
border: 1px solid rgba(255, 255, 255, 0.05);
}



.span-2 {
    grid-column-end: span 3;
    grid-row-end: span 2;
}

.span-3 {
    grid-column-end: span 4;
    
}

.span-4 {
    grid-column-end: span 3;
    grid-row-end: span 3;
}

.span-5 {
    grid-column-end: span 6;
    grid-row: span 3;
}

.table-left { 
    width: 50%; float: left; 
}
.table-right {
    width: 50%; float: right; 
}
.table-container { 
    overflow: hidden; 
}

#piechart {
    width: 500px; 
    height: 0px;
    float: right; 
    padding: 0%;
    color: white;
}