<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard</title>
    <link href="/css/signin.css" rel="stylesheet"/>
    <link href="/css/navbar.css" rel="stylesheet"/>
    <link href="/css/dashboard.css" rel="stylesheet"/>
    <link href="/css/graphs.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/e6fe8c10b9.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-3d.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>

  </head>
  <body>
    
    <div class="topnav">
    <img th:src='@{/img/nevermore.png}'>
      <a class="active" href="/dashboard"><i class="fa-solid fa-house"></i>    Home</a>
      <a href="/costs/new" id="newCost"><i class="fa-solid fa-money-check"></i>    Subscriptions</a>
      <a class="" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
      <div class="username">
        <div sec:authorize="isAuthenticated()" >
            <a><i class="fa-solid fa-user"></i> <span class="name" sec:authentication="name"></span> </a>
           </div>
        </div>
      </div>
    </div>
    </div>

    

    <div class="grid-layout">
      <div class="grid-item span-5 grid-item-1">
        <div class="usernameHeader" sec:authorize="isAuthenticated()">
            <h1 >Hello <span class="name" sec:authentication="name"></span></h1>
          </div>
          <h1>Total spent: £<span th:text="${sum}"></span></h1>
          <h1>Salary remaining: £<span th:text="${remaining}"></span></h1>
            <script
                src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script type="text/javascript"
                src="https://www.gstatic.com/charts/loader.js"></script>
            </head>
            <div class="chartContainer">
              <script th:inline="javascript">
                var real_data = /*[[${pieDataList}]]*/'noValue';
                $(document).ready(function() {
                    google.charts.load('current', {
                        packages : [ 'corechart']
                    });
                    google.charts.setOnLoadCallback(drawPieChart);
                });
                
                function drawPieChart() {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Name');
                    data.addColumn('number', 'price');
                    Object.keys(real_data).forEach(function(key) {
                        data.addRow([ key, real_data[key] ]);
                    });
                    var options = {
                        backgroundColor: "transparent",
                        fontName: "Poppins",
                        height: 500,
                        legend: {position: 'none', textStyle: {color: 'white', fontSize: 16}},
                        pieSliceBorderColor: "transparent",
                    };
                    var chart = new google.visualization.PieChart(document
                            .getElementById('piechart'));
                    chart.draw(data, options);
                }
            </script>
        <body>
          <div id="piechart"></div>
        </body>
            </div>
      </div>
      <div class="grid-item span-4 grid-item-2">
        <h1>Current Subscriptions</h1>
        <div class="table-container">

            <div class="table-left">
                <table class="table table-bordered table-content" >
                    <tr th:each="content: ${content}">
                        <td th:text="${content}"></td>
                    </tr>
                </table>
            </div>

            <div class="table-right">
                <table class="table table-striped table-costs">
                    <tbody>
                        <tr th:each="subs: ${subs}">
                            <td>£</td>
                            <td th:text="${subs}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="container" style="height: 400px"></div>

      </div>
      <div class="grid-item span-2 grid-item-3">Lookback</div>
      <div class="grid-item span-2 grid-item-4">News</div>
      <div class="grid-item span-2 grid-item-5">Quick Actions</div>
  </div>


  </body>