<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard</title>
    <link href="/css/signin.css" rel="stylesheet"/>
    <link href="/css/navbar.css" rel="stylesheet"/>
    <link href="/css/dashboard.css" rel="stylesheet"/>
    <link href="/css/graphs.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/e6fe8c10b9.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <div class="topnav">
    <img th:src='@{/img/nevermore.png}'>
      <a class="active" href="/dashboard"><i class="fa-solid fa-house"></i>    Home</a>
      <a href="/costs/new" id="newCost"><i class="fa-solid fa-money-check"></i>    Subscriptions</a>
      <a class="" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
      <div class="dropdown">
        <button class="dropbtn"><div sec:authorize="isAuthenticated()" >
            <a><i class="fa-solid fa-user"></i> <span class="name" sec:authentication="name"></span> </a>
           </div></button>
        <div class="dropdown-content">
          <a href="/users/new">Sign Up</a>
          <a href="/login">Sign In</a>
          <a href="/dashboard">Home</a>
        </div>
      </div>
      <!-- <div class="username">
        <div sec:authorize="isAuthenticated()" >
            <a><i class="fa-solid fa-user"></i> <span class="name" sec:authentication="name"></span> </a>
           </div> -->
    </div>
    </div>

    

    <div class="grid-layout">
      <div class="grid-item span-5 grid-item-1">
        <div sec:authorize="isAuthenticated()">
            <h1>Hello <span class="name" sec:authentication="name"></span></h1>
          </div>
      </div>
      <div class="grid-item span-4 grid-item-2">
        <h1>Current Cost</h1>

      </div>
      <div class="grid-item span-2 grid-item-3">item 3</div>
      <div class="grid-item span-2 grid-item-4">item 4</div>
      <div class="grid-item span-2 grid-item-5">item 5</div>
  </div>


  </body>