<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="/css/signin.css" rel="stylesheet"/>
    <link href="/css/navbar.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/e6fe8c10b9.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="topnav">
      <img th:src='@{/img/nevermore.png}' class="navbar-image">
        <a class= "bounce-out-on-hover glow-on-hover"href="/homepage"><i class="fa-solid fa-house"></i>  Home</a>
        <a class= "bounce-out-on-hover glow-on-hover" href="/users/new">Sign Up</a>
        <a class="active bounce-out-on-hover glow-on-hover" href="/logon">Sign In </a>
    </div>
     <div class="container">
      <form class="form-signin" method="post" action="/logon">
        <h2 class="form-signin-heading">Sign in</h2>
        <p>
          <label for="username" class="sr-only">Username</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <p style="color:red">Invalid password or username</p>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Sign in</button>
      </form>
      <h2 class="form-signup-heading">Don't have an account</h2>
      <button class="btn btn-lg btn-primary btn-block btn-width btn-to-signup" onclick="window.location.href='/users/new';">Sign Up</button>
</body>
</html>